@font-face {
    font-family: Raleway_ExtraBold;
    src: url("../fonts/Raleway_ExtraBold.ttf") format("woff");
}
@font-face {
    font-family: Raleway_Semibold;
    src: url("../fonts/Raleway_Semibold.ttf") format("woff");
}
@font-face {
    font-family: Raleway_Regular;
    src: url("../fonts/Raleway_Regular.ttf") format("woff");
}
@font-face {
    font-family: Raleway_Bold;
    src: url("../fonts/Raleway_Bold.ttf") format("woff");
}