@font-face {
    font-family: Montserrat-Medium ;
    src: url("../fonts/Montserret/Montserrat-Medium.ttf");
}

@font-face {
    font-family: NunitoSans-Regular ;
    src: url("../fonts/NunitoSans/NunitoSans-Regular.ttf");
}

@font-face {
    font-family: MyriadPro-Regular ;
    src: url("../fonts/MyriadPro/MyriadPro-Regular.ttf");
}