p {
  font-family: "NunitoSans-Regular";
  color: #787878; }

h1, h2, h3, h4, h5, h6 {
  color: #1d1d1d;
  font-family: "Montserrat-Medium"; }

h1 {
  font-size: 40px; }

h3 {
  font-size: 30px;
  margin-top: 0; }

h6 {
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 15px; }

.banner {
  height: 670px;
  background: url("../img/112.jpg") no-repeat;
  background-size: cover; }

.banner-box {
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.content {
  max-width: 1166px;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 45px; }

.burger-menu {
  display: none; }

.menu {
  width: 650px; }

.menu ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0; }

.menu ul li {
  list-style: none; }

.menu a {
  text-decoration: none;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  color: #1d1d1d;
  font-weight: 600; }

.bannerText {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 200px; }

.bannerText .text {
  width: 43%; }

.text h1 {
  color: #1d1d1d;
  font-family: "Montserrat-Medium";
  font-size: 40px; }

.text p {
  margin-left: 8px;
  font-family: "NunitoSans-Regular";
  color: #787878;
  font-size: 18px; }

.text .button {
  margin-left: 8px; }

.button {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10c9c3;
  color: white;
  font-family: "MyriadPro-Regular"; }

.about {
  height: 220px; }

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%; }

.text-center {
  width: 580px;
  font-size: 14px;
  text-align: center; }

.text-center h3 {
  color: #1d1d1d;
  font-family: "Montserrat-Medium";
  font-size: 30px;
  margin-top: 0;
  padding-top: 0; }

.text-center p {
  font-family: "NunitoSans-Regular";
  color: #787878;
  font-size: 16px; }

.skills {
  background: url("../img/33.jpg");
  background-size: cover;
  height: 375px; }

.skills-box {
  width: 50%;
  height: 375px;
  display: flex;
  align-items: center; }

.skills-box-inner {
  width: 100%; }

.counter {
  width: 100%; }

.inner {
  height: 4px;
  background-color: #10c9c3;
  z-index: 2; }

.row1 {
  width: 85%;
  height: 4px;
  background-color: #d8d8d8; }

.row2 {
  width: 75%;
  z-index: 2; }

.row3 {
  width: 90%;
  z-index: 2; }

.row4 {
  width: 65%;
  z-index: 2; }

.numbers {
  background-color: #10c9c3;
  height: 240px;
  font-family: "Montserrat-Medium"; }

.numbers-inner {
  display: flex;
  height: 240px;
  align-items: center; }

.numbers-inner-item {
  width: 25%;
  display: flex; }

.numbers-inner-item img {
  margin-right: 25px; }

.number {
  display: flex;
  flex-direction: column;
  color: white; }

.number-1 {
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: -3px; }

.number-2 {
  font-size: 12px; }

.images {
  height: 600px;
  display: flex;
  flex-flow: row wrap; }

.images-item {
  width: 25%;
  height: 50%;
  max-width: 340px;
  max-height: 300px; }

.images-item img {
  width: 100%;
  height: 100%; }

.image-item-box {
  margin: 90px; }

.load {
  background-color: #f5f5f5;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100px; }

.load h6 {
  color: #8e8e8e;
  font-size: 12px; }

.work {
  height: 740px; }

.video {
  width: 100%;
  margin-top: 55px;
  display: flex;
  justify-content: center; }

.icons {
  height: 340px;
  background-color: #f5f5f5;
  padding: 100px 0; }

.icon {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  text-align: center; }

.icon-item {
  width: 25%;
  height: 50%; }

.icon-item-inner {
  margin: 20px; }

.icon-item-inner h6 {
  margin-top: 15px; }

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

.slider__item-inner {
  width: 680px;
  font-size: 25px;
  text-align: center; }

.slider__item-inner p {
  font-size: 24px;
  font-family: "MyriadPro-Regular";
  color: white; }

.slider__item-inner h6 {
  font-size: 14px;
  font-family: "MyriadPro-Regular";
  color: white; }

.slider {
  height: 300px;
  background-color: #10c9c3;
  color: white;
  min-width: 0;
  position: relative;
  padding: 100px 0; }

.slider .slick-list {
  overflow: hidden; }

.slider .slick-track {
  display: flex; }

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 5;
  font-size: 0;
  width: 30px;
  height: 60px;
  margin-top: -30px; }

.slider .slick-arrow.slick-prev {
  left: 40px;
  background: url("../img/prev.svg") 0 0/100% no-repeat; }

.slider .slick-arrow.slick-next {
  right: 40px;
  background: url("../img/next.svg") 0 0/100% no-repeat; }

.slider button.slick-next.slick-arrow {
  outline: none; }

.slider button.slick-prev.slick-arrow {
  outline: none; }

.slider button {
  border: 0; }

.slider .slick-dots {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

ul.slick-dots {
  padding-inline-start: 0; }

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px; }

.slider .slick-dots button {
  font-size: 0;
  width: 7px;
  height: 7px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0; }

.slider .slick-dots li.slick-active button {
  background-color: white;
  outline: none;
  width: 10px;
  height: 10px; }

.logos {
  height: 200px; }

.logoBlock {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center; }

.logoBlock__box {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.blockForm {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; }

.blockForm input {
  border: 0;
  margin-top: 25px; }

.input-row {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.input-row input {
  width: calc(48% - 20px); }

.input-1 {
  height: 50px;
  padding-left: 20px; }

.input-2 {
  width: calc(100% - 20px);
  padding-left: 20px; }

.inputTitle {
  height: 50px; }

.inputComment {
  height: 170px;
  margin-bottom: 25px; }

.blockForm .button-box {
  display: flex;
  justify-content: center; }

.blockForm.text-center {
  margin-top: 0; }

.footer {
  height: 285px;
  background-color: #141414; }

.footer a {
  text-decoration: none;
  color: white;
  font-family: "NunitoSans-Regular";
  font-size: 14px; }

.footer h4 a {
  font-size: 26px; }

.footer h4 {
  padding: 0 0 20px 0;
  margin: 0; }

.footer-box {
  padding: 85px 0;
  display: flex;
  justify-content: space-between;
  align-content: stretch; }

.piroll, .footer-menu-1, .footer-menu-2, .social {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.piroll {
  width: 40%; }

.piroll-inner {
  width: 200px; }

.email {
  width: 25%;
  line-height: 22px; }

.footer-menu-1 {
  width: 9%; }

.footer-menu-2 {
  width: 16%; }

.social {
  width: 10%; }

.about, .skills, .work, .icons, .blockForm {
  padding: 100px 0; }

@media (max-width: 1024px) {
  .content {
    max-width: 924px;
    margin: 0 auto; }
  .image-item-box {
    margin: 70px; }
  .banner, .about, .skills, .numbers, .load, .work, .images, .icons, .logos, .logoBlock, .blockForm, .footer {
    height: auto; } }

@media (max-width: 991px) {
  .content {
    max-width: 721px;
    margin: 0 auto; }
  .image-item-box {
    margin: 60px; }
  iframe {
    width: 100%;
    height: 450px; }
  .slider__item-inner {
    width: 75%; } }

@media (max-width: 767px) {
  .content {
    max-width: 90%;
    margin: 0 auto; }
  .logo {
    z-index: 4; }
  .banner .content {
    max-width: 100%; }
  .banner-box {
    padding: 0 30px;
    height: auto;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.6); }
  .bannerText {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px; }
  .bannerText.active {
    margin-top: 200px;
    transition: all 0.5s ease 0s; }
  .bannerText .text {
    width: 100%; }
  .bannerText .text p {
    color: #1d1d1d; }
  .burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 3; }
  .burger-menu:before {
    position: absolute;
    content: '';
    background-color: #1d1d1d;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    z-index: 3; }
  .burger-menu:after {
    position: absolute;
    content: '';
    background-color: #1d1d1d;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    z-index: 3; }
  .burger-menu span {
    position: absolute;
    background-color: #1d1d1d;
    left: 0;
    width: 100%;
    height: 2px;
    top: 14px; }
  .burger-menu.active:before {
    transform: rotate(45deg);
    top: 14px;
    transition: all 0.3s ease 0s; }
  .burger-menu.active:after {
    transform: rotate(-45deg);
    bottom: 14px;
    transition: all 0.3s ease 0s; }
  .burger-menu.active span {
    transform: scale(0); }
  .menu {
    position: fixed;
    right: 0;
    top: -100%;
    transition: all 0.5s ease 0s;
    width: 100%;
    height: auto;
    z-index: 2;
    background-color: rgba(16, 201, 195, 0.6); }
  .menu.active {
    top: 0; }
  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 100px 45px 60%; }
  .menu ul li {
    padding-bottom: 10px; }
  .text-center {
    max-width: 580px;
    width: 100%; }
  .skills-box {
    height: auto;
    width: 80%; }
  .skills-box-inner h6 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 12px; }
  .image-item-box {
    margin: 50px; }
  .logoBlock__box-item {
    width: 17%; }
  .logoBlock__box-item img {
    width: 100%; }
  .about, .skills, .work, .icons, .blockForm, .logoBlock {
    padding: 50px 0; }
  iframe {
    width: 90%;
    height: 350px; } }

@media (max-width: 576px) {
  .content {
    max-width: 90%;
    margin: 0 auto; }
  .banner .content {
    max-width: 100%; }
  .banner-box {
    padding: 0 30px;
    height: auto;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.6); }
  .bannerText {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px; }
  .bannerText .text {
    width: 80%; }
  .image-item-box {
    margin: 20px; }
  .numbers {
    height: 200px; }
  .numbers-inner {
    display: flex;
    flex-flow: row wrap;
    height: 200px; }
  .numbers-inner-item {
    width: calc(50% - 40px);
    padding-left: 30px;
    padding-right: 10px; }
  iframe {
    width: 90%;
    height: 300px; }
  .icon-item {
    width: 50%; }
  .logos {
    height: auto; }
  .footer-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch; }
  .piroll {
    width: 60%; }
  .email {
    width: 40%; }
  .footer-box {
    padding: 50px 15px; }
  .footer-menu-1, .footer-menu-2, .social {
    padding-top: 40px;
    width: 30%; } }

@media (max-width: 480px) {
  .footer-box {
    padding: 50px 0; }
  .piroll {
    width: 100%;
    margin-bottom: 40px; }
  .email {
    width: 100%; } }
