
.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}
.box {
    margin: 0 auto;
    width: 582px;
    height: 600px;
    position: relative;
}
.red {
    background-color: red;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 20px;

}
.red:hover {
    z-index: 10;
    cursor: pointer;
}

.green {
    background-color: green;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 265px;
    top: 20px;

}
.green:hover {
    z-index: 10;
    cursor: pointer;
}

.blue {
    background-color: blue;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 250px;
    left: 0;
}
.blue:hover {
    z-index: 10;
    cursor: pointer;
}

.yellow {
    background-color: yellow;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 280px;
}
.yellow:hover {
    z-index: 10;
    cursor: pointer;
}

.button {
    background-color: gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.button:hover {
    z-index: 15;
}
.bottom-crist1 {
    height: 90px;
    width: 4px;
    background: black;
    position: absolute;
    left: 48px;
    top: 5px;
    z-index: -1;
}
.bottom-crist2 {
    height: 4px;
    width: 90px;
    background: black;
    position: absolute;
    top: 48px;
    left: 5px;
    z-index: -1;
}
.bottom-crist1:hover {
    z-index: 15;
    cursor: pointer;
}
.bottom-crist2:hover {
    z-index: 15;
    cursor: pointer;
}


@media (max-width: 800px) {
    .box {
        width: 650px;
        height: 650px;
        display: flex;
        flex-flow: wrap row;
        align-items: center;
        align-content: center;
    }
    .red, .green, .blue, .yellow {
        position: static;
        width: 300px;
        height: 300px;
        margin: 5px;
    }
    .button {
        position: static;
        margin-top: 180px;
        margin-left: 180px;
        padding-top: 5px
    }
    .bottom-crist1 {
        position: static;
        margin-left: 48px;
    }
    .bottom-crist2 {
        position: static;
        margin-top: -48px;
        margin-left: 5px;
    }
}


@media  (max-width: 600px) {
    .box {
        max-width: 350px;
        height: 1300px;
        display: flex;
        flex-flow: column-reverse;
    }
    .red, .green, .blue, .yellow {
        position: static;
        width: 300px;
        height: 300px;
    }
    .button {
        position: static;
        margin-top: 180px;
        margin-left: 180px;
        padding-top: 5px
    }
    .bottom-crist1 {
        position: static;
        margin-left: 48px;
    }
    .bottom-crist2 {
    position: static;
    margin-top: -48px;
    margin-left: 5px;
    }

}
