*{
    font-family: "Segoe WP";
}
* {
    color: gray;
}
body {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}
.top-menu {
    list-style: none;

}

.top-menu li a {
    text-decoration: none;
    margin-right: 50px;
    padding-bottom: 14px;
    color: gray;
    font-size: 20px;
}
.top-menu li a:hover{
    border-bottom: 2px solid #3C86FF;
}
.logo  {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    color: black;

}

.container.container__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.top-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}
.slider {
    background: url("../img/top-back.png") no-repeat;
    height: 500px;
    background-size: cover;

}
.slider-1 {
    padding-top: 40px;
display: flex;
justify-content: flex-start;
flex-flow: row nowrap;
    align-items: center;
    color: white;
}
.slider-1 h1 {
font-weight: lighter;
    color: white;
}
.slider-1 h3 {
    font-weight: lighter;
    color: white;
    width: 200px;
}

.iphone img {
    max-width: 100%;
    padding-right: 80px;
}
.button {
    color: white;
    max-width: 150px;
    background-color: #3C86FF;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu-menu {
    list-style: none;
    display: flex ;
    text-align: center;
    font-size: 19px;

}
.menu-menu li a {
    display: inline-block;
    text-decoration: none;
    color: #3C86FF;
    font-weight: bold;
    font-size: 130%;
}
.menu-menu li {
    text-align: center;
}
.menu-menu span {
    display: block;
}
.circle__blue {
    border-radius: 50%;
    background-color: #3C86FF;
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0 auto 10px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.circle__red {
    border-radius: 50%;
    background-color: rgb(217, 71, 72);
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0 auto 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.circle__yellou {
    border-radius: 50%;
    background-color: rgb(235, 187, 17);
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0 auto 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main-bottom {
    display: flex;
    flex-flow: column;
    justify-content: space-around;

}
.main-bottom h1 {
    font-size: 40px;
}
.main-bottom-1 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}
.active {
    border-bottom: 2px solid blue;
    padding-bottom: 14px;
}
footer p {
 text-align: center;
}




@media (max-width: 767px ) {

    .top-menu {
        width: 100%;
        padding-left: 0;
    }

   .top-menu li a {
    margin: 0;
   padding-right:10px ;
   }

    .box {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }


    .container__top {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }
    .slider {
        height: 100%;
    }
    .slider-1 {
        flex-flow: row wrap;
    }
    .slider-text {
        padding-bottom: 20px;
        padding-left: 40px;
    }
    .iphone {
        width: 100%;
        text-align: center;
    }
    .iphone img {
        padding: 0;
    }
    .menu ul {
        padding: 0;
    }
    .menu-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu__block {
        padding-bottom: 20px;
    }
    .main-bottom {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
    }
    .main-bottom h1 {
        text-align: center;
    }
    .main-bottom-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .cart img {
        max-width: 100%;
    }

}